<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    
    <title>Document</title>
</head>
<body>


    <script>
        navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia;
    
        if (navigator.getUserMedia==undefined){
            alert("navigator.getUserMedia==undefined");
        }
        const canvas = document.createElement('canvas');
        canvas.width=300;
        canvas.height=300;
        const video = document.createElement('video');
        video.width=300;
        video.height=300;
        document.body.appendChild(canvas);
        document.body.appendChild(video);
        const ctx=canvas.getContext("2d");

        
        navigator.mediaDevices.getUserMedia({ audio: false, video: true})
        .then(stream => {
            //video.srcObject = stream;
            //video.play();
            //loop();
        })
    

    </script>
    
</body>
</html>